h1{
    color:aqua;
 }
 *{
    border:solid;
 }
 .header{
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
 }
 .grid{display: flex;
   flex-wrap: initial;
   justify-content: center;
   text-align: center;
}
.footer{display: flex;
justify-content: flex-end;
}